<div class="list-group-item" [class.list-group-item-danger]="car.isSold">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{car.name}}</h5>
    <small>{{car.date}}</small>
  </div>
  <p class="mb-1">
    {{car.model}}
  </p>
  <hr>
  <button
    type="button"
    class="btn btn-danger btn-small"
    (click)="onDelete()"
    >Delete Car
  </button>
  <button
    type="button"
    class="btn btn-success btn-small"
    (click)="onBuy()"
    [disabled]="car.isSold">Buy Car
  </button>
</div>